<div class="course-container  h-fit w-6/12 p-2">
  <div class="border-green-900 box-border shadow-2xl rounded">
    <div class="course-content flex flex-row ">
      <div class="image w-4/12 mr-4">
        <img class="rounded-bl rounded-tl" src="{{course.picture}}" alt="course picture">
      </div>
      <div class="content flex flex-col flex-nowrap gap-y-3 justify-center items-start   w-3/12">
        <p class="text-green-900  text-sm"><b>Curso:</b> {{course.title}}</p>
        <p class="text-green-900  text-sm"><b>Descripción: </b>{{course.description}}</p>
        <p class="text-green-900  text-sm"><b>Valoracion:</b> {{course.rating}}★</p>
    
      </div>
      
    </div>

  </div>

</div>

